<html>
    <head></head>
    <title>Error: <%= error.code %></title>
    <body>
        <p>
            Oops! You have an error:
        </p>
        <p>
            <%= error.message %>
        </p>
        <p>
            <a href="/">Try Again</a>
        </p>
    </body>
</html>